*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: orange;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    max-width: 50%;
    margin: 0 auto;
}